<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>
        Students list
        <a href="{{ url_for('courses') }}" style="float: right;">Go to Courses</a>
    </h1>
    
    {% if students %}
    <table id="all-students">
        <thead>
            <tr>
                <th>SNo</th>
                <th>Roll Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ url_for('student_detail', student_id=student.student_id) }}">{{ student.roll_number }}</a></td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>
                    <a href="{{ url_for('update_student', student_id=student.student_id) }}">Update</a>
                    <a href="{{ url_for('delete_student', student_id=student.student_id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No students found. Add a student to get started.</p>
    {% endif %}
    <a href="{{ url_for('create_student') }}">+ Add student</a>
</body>
</html>
